
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Handlebars</h1>      
    {{!-- <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p> --}}
  </div>
</div>

<div class="container">
    <h1 style="color: blue;">{{bienvenida}}</h1>  
    <br><br>
    <div class="container col-md-6 d-flex justify-content-center" style="border: 1px solid blue">
        <form class=" d-flex flex-column" method="POST" action="/api/productos">
            <div class="form-group">
                <label for="email">Title:</label>
                <input class="form-control" type="text" name="title"  class="ml-auto" required placeholder="title"/>
            </div>
            <div class="form-group">
                <label for="pwd">Price:</label>
                <input class="form-control" type="number" name="price" class="ml-auto" required placeholder="$"/>
            </div>
            <div class="form-group">
                <label for="pwd">thumbnail:</label>
                <input class="form-control" type="text" name="thumbnail" class="ml-auto" required placeholder="URL de la imagen"/>
            </div>
            <button type="submit" onclick="alta()" class="btn btn-default" value="Agregar">Submit</button>
        </form>
    </div>
</div>
{{!-- DESAFIO 10 HANDLEBARS --}}
{{!-- LISTADO DE PRODUCTOS POR ID/ GET --}}
